.notice {
  padding: .5rem;
  background-color: white;
  border-radius: .2rem;
  max-width: 10rem;
  position: fixed;
  top: 1rem;
  transition: right 200ms ease-in-out ;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .1);
}

.notice p {
  margin: 0;
}